<!DOCTYPE html>
<html>
<head>
    <title>Задача: {{taskname}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <h1>{{taskname}}</h1>
    {{{description}}}
    {{#if image}}
    <img src="/img/{{image}}"></img>
    {{/if}}
</body>
<html>
